@using MovieLibrary.Models.Actors
@using MovieLibrary.ViewModels.ActorViewModels
@model CreateActorViewModel

<header>
    <h1 class="text-primary">Add a new actor</h1>
</header>

<hr />

<body>
    <div class="form-group">
        <form asp-controller="Actor" asp-action="Create" method="post" role="form" enctype="multipart/form-data">
            <span asp-validation-for="FirstName" class="text-danger"></span>
            <input asp-for="FirstName" autocomplete="off" type="text" class="form-control" placeholder="Fistname">
            <br />
            <span asp-validation-for="LastName" class="text-danger"></span>
            <input asp-for="LastName" autocomplete="off" type="text" class="form-control" placeholder="Lastname">
            <br />
            <label asp-for="Gender" class="col-md-2">Gender</label>
            <span asp-validation-for="Gender" class="text-danger"></span>
            <select asp-for="Gender" class=" form-control" asp-items="Html.GetEnumSelectList<ActorGender>()">
                <option disabled selected value="">Choose actor's gender</option>
            </select>
            <br />
            <p>If you want to choose more than one press Ctrl and click on the wanted Awards</p>
            <br />
            <div class="card">
                <div class="card-text text-center">
                    <h1>Choose Actors's awards</h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <select id="dropDownList-example" name="SelectedActorAwardsIds" asp-items="@Model.AllActorAwards" multiple class="form-control"></select>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <input type="submit" value="Save" class="btn btn-primary" />
            @section Scripts{
                <script src="~/multiselect/jquery.multi-select.js"></script>
                <script>
                    $(document).ready(function () {
                        $('#dropDownList-example').multiSelect();
                    });
                </script>
            }
        </form>
    </div>
</body>