/*namespace MovieLibrary.wwwroot.css
{
    public class MovieDetails
    {

    }
}
*/

body {
    background: #eee;
}

.date {
    font-size: 11px;
}

.comment-text {
    font-size: 12px;
}

.fs-12 {
    font-size: 12px;
}

.shadow-none {
    box-shadow: none;
}

.name {
    color: #007bff;
}

.cursor:hover {
    color: blue;
}

.cursor {
    cursor: pointer;
}

.textarea {
    resize: none;
}

.fa-facebook {
    color: #3b5999;
}

.fa-twitter {
    color: #55acee;
}

.fa-linkedin {
    color: #0077B5;
}

.fa-instagram {
    color: #e4405f;
}

.fa-dribbble {
    color: #ea4c89;
}

.fa-pinterest {
    color: #bd081c;
}

.fa {
    cursor: pointer;
}