@model MovieLibrary.ViewModels.ErrorViewModel

@{
    ViewData["Title"] = "Error";
}
<div>
    <h1 class="text-danger">An error occurred while processing your request.</h1>
    <h2>ErrorString: @Model.ErrorMessage</h2>
    <h3>ErrorCode: @Model.ErrorCode</h3>
</div>