@using MovieLibrary.ViewModels
@model ExternalLoginViewModel
<head>
    <link rel="stylesheet" href="~/css/externalLogin.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/9c0d45803b.js" crossorigin="anonymous"></script>
    <title>ExternalLogin</title>
</head>

<bodyy>
    <div class="container" id="container">
        <div class="form-container log-in-container">
            <form1>
                <h1>Register</h1>
                <h2>with</h2>
                <h2>@ViewData["ProviderDisplayName"] account.</h2>
                <div class="social-container">
                    <form asp-controller="Account" asp-action="ExternalLoginConfirmation" method="post" enctype="multipart/form-data" role="form" asp-route-returnurl="@ViewData["ReturnUrl"]">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                        <input asp-for="FirstName" autocomplete="off" type="text" class="form-control" placeholder="Fistname" readonly>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                        <input asp-for="LastName" autocomplete="off" type="text" class="form-control" placeholder="Lastname" readonly>
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <input asp-for="Email" autocomplete="off" type="email" class="form-control" placeholder="Email" readonly>
                        <span asp-validation-for="Age" class="text-danger"></span>
                        <input asp-for="Age" min="12" max="150" step="default" type="number" class="form-control" value="" placeholder="Age">
                        <span asp-validation-for="Username" class="text-danger"></span>
                        <input asp-for="Username" autocomplete="off" type="text" class="form-control" placeholder="Username">
                        @Html.ValidationMessageFor(m => m.ProfilePircture, "", new { @class = "text-danger" })
                        <input asp-for="ProfilePircture" type="file" class="form-control" placeholder="Profile picture">
                        <button class="loginbutton">Register</button>
                    </form>
                </div>
            </form1>
        </div>
    </div>
</bodyy>