@model LoginViewModel
@using MovieLibrary.ViewModels
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> signInManager

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/login.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Login</title>
</head>
<bodyy>
    <div class="container" id="container">
        <div class="form-container log-in-container">
            <form1>
                <h1>Login</h1>
                <div class="social-container">
                    @{
                        var schemes = await signInManager.GetExternalAuthenticationSchemesAsync();
                        var loginProivders = schemes.ToList();
                    }
                    @if (loginProivders.Count() > 0)
                    {
                        <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" role="form">
                            @foreach (var provider in loginProivders)
                            {
                                if (provider.Name == "Facebook")
                                {
                                    <button class="FBbutton" type="submit" name="provider" value="@provider.Name">
                                        <i class="fa fa-facebook fa-2x"></i>
                                    </button>
                                }
                                else
                                {
                                    <button class="Gbutton" type="submit" name="provider" value="@provider.Name">
                                        <i class="fab fa fa-google fa-2x"></i>
                                    </button>
                                }
                            }
                        </form>
                    }
                </div>
                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@Model.ReturnUrl" method="post" role="form">
                    <span>or use your account</span>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="Email" autocomplete="off" type="email" class="form-control" placeholder="Email">
                    <input asp-for="Password" autocomplete="off" type="password" class="form-control" placeholder="Password">
                    <div style="margin:10px 0 10px">Remeber me<input asp-for="RememberMe" /></div>
                    <button class="loginbutton">Log In</button>
                </form>
            </form1>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Welcome to MovieLibrary</h1>
                    <p>
                        This website is for people, who want to keep track of new/old/watched/willing-to-watch movies.
                        <br />
                        <br />
                        <br />
                        Don't have an account? <a asp-controller="Account" asp-action="Register" style="color:black">Click here</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</bodyy>
</html>