@model IEnumerable<MovieLibrary.Models.Movies.Movie>
<h1>All movies</h1>
<hr />
<div>
    <div class="product-content product-fourcolumn clearfix">
        <ul class="product style2 clearfix">
            @foreach (var item in Model)
            {

                <li class="product-item">
                    <div class="product-thumb clearfix">
                        <a href="#" class="product-thumb">
                            @*<img src="images/shop/sh-4/14.jpg" alt="image">*@
                            @*<img class="img-circle img-responsive" src="@Url.Content(item.Pro_image)" />*@
                        </a>
                        <span class="new">New</span>
                    </div>
                    <div class="product-info clearfix">
                        <br />
                        <span class="product-title">@item.Title</span>
                        <div class="price">
                            <ins>
                                <span class="amount">*@item.Rating</span>
                            </ins>
                        </div>

                    </div>
                    <div class="add-to-cart text-center">
                        @*<a href="#"> @Html.ActionLink("ADD TO CART", "Addtocart", new { id = item.Pro_id }, new { @class = "myactionlink" })</a>*@
                    </div>
                    <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                </li>
            }
        </ul>
    </div>
</div>