@using MovieLibrary.Models.Movies
@using MovieLibrary.ViewModels.MovieViewModels
@model CreateMovieViewModel

<header>
    <h1 class="text-primary">Add a new movie</h1>
</header>

<hr />

<body>
    <div>
        <form asp-controller="Movie" asp-action="Create" method="post" role="form" enctype="multipart/form-data">
            <span asp-validation-for="Title" class="text-danger"></span>
            <input asp-for="Title" autocomplete="off" type="text" class="form-control" placeholder="Title" />
            <br />
            <span asp-validation-for="YoutubeUrl" class="text-danger"></span>
            <input asp-for="YoutubeUrl" autocomplete="off" type="text" class="form-control" placeholder="Youtube Trailer" />
            <br />
            <span asp-validation-for="Budget" class="text-danger"></span>
            <input asp-for="Budget" step="default" type="number" class="form-control" value=" " placeholder="Budget" />
            <br />
            <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            <input asp-for="ReleaseDate" class="form-control" value="1920-01-01" min="1920-01-01" max="2050-01-01" type="date"/>
            <br />
            <span asp-validation-for="MinimumAge" class="text-danger"></span>
            <input asp-for="MinimumAge" min="12" max="150" step="default" type="number" class="form-control" value=" " placeholder="Minimum age" />
            <br />
            <span asp-validation-for="Description" class="text-danger"></span>
            <textarea asp-for="Description" autocomplete="off" type="text" class="form-control" placeholder="Write a description of the movie."></textarea>
            <br />
            <span asp-validation-for="Category" class="text-danger"></span>
            <select asp-for="Category" class=" form-control" asp-items="Html.GetEnumSelectList<MovieCategory>()">
                <option disabled selected value="">Choose movie's genre</option>
            </select>
            <br />
            <span asp-validation-for="ProducerId" class="text-danger"></span>
            <select asp-for="ProducerId" asp-items="@Model.AllProducers" class="form-control">
                <option disabled selected>Select Producer</option>
            </select>
            <br />
            <p>If you want to choose more than one press Ctrl and click on the wanted Awards!</p>
            <br />
            <div class="card">
                <div class="card-text text-center">
                    <h1>Choose Movie's actors</h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <select id="dropDownList-example" name="SelectedMovieActorsIds" asp-items="@Model.AllMovieActors" multiple class="form-control"></select>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-text text-center">
                    <h1>Choose Movie's awards</h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <select id="dropDownList-example" name="SelectedMovieAwardsIds" asp-items="@Model.AllMovieAwards" multiple class="form-control"></select>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div>
                <p>Choose a poster for the movie</p>
                <input asp-for="Poster" type="file" class="form-control">
            </div>
            <br />
            <input type="submit" value="Save" class="btn btn-primary" />

            @section Scripts{
                <script src="~/multiselect/jquery.multi-select.js"></script>
                <script>
                    $(document).ready(function () {
                        $('#dropDownList-example').multiSelect();
                    });
                </script>
            }
        </form>
    </div>
</body>